<html>
<body>
<h2>A new user has applied:</h2>
<p>
Name: $firstName $lastName<br>
email: <a href="mailto:$email">$email</a><br>
phone: $phone
</p>
<p>
More details and approve: <a href="$url">click here</a>.
</p>
</body>
</html>