<html>
<body>
<p>
    Dear $name,
</p>
<p>
    You have been invited to a meeting for the <em>$corporation</em> body corporate.
</p>
<p>
    <strong>Title:</strong> $meeting<br>
    <strong>Time:</strong> $time<br>
    <strong>Location:</strong> $location<br>
    <strong>Description:</strong> $description<br>
</p>
<p>
    To view the details of the meeting and download the agenda, visit the
    <a href="$url">meeting details</a>.
</p>
</body>
</html>