<html>
<body>
<p>
   You have received a Weddfix promo code (valid upto <span style="color: darkred">$validity</span>).
   <p>
   <span style="color: darkgreen; font-size: 35px;"> $discount% Cashback offer!</span>
   </p>
<div style="font-size: 18px; padding: 10px; width: 245px; border: 1px dashed rgb(85, 85, 85);">
Promo Code:
<span style="color:#a82400;font-weight:bold">$promocode</span>
</div>
</p>
<p>
<b>How to redeem this promo code:</b>
</p>
<ul>
<li>
<p style="min-height: 6px; max-height: 6px;">Go to <a href="https://weddfix.com/login" target="_blank">Weddfix</a></p>
</li>
<li>
<p style="min-height: 6px; max-height: 6px;">Create an account and log in</p>
</li>
<li>
<p style="min-height: 6px; max-height: 6px;">Then click the upgrade tab in the menu bar</p>
</li>
<li>
<p style="min-height: 15px; max-height: 15px;">After choose your plan, apply this promo code</p>
</li>
</ul>
<p>

    Regards,
    <br>
    <br>
    <a target="_blank" href="$url">Weddfix</a>
</p>
</body>
</html>
