<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/weddfix</property>
		<property name="hibernate.connection.username">weddfix</property>
		<property name="hibernate.connection.password">weddfix</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/weddfix</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">1000</property>
		<property name="hibernate.c3p0.timeout">1000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!-- Named Queries Begin -->
		<mapping resource="com/weddfix/web/hibernate/CountryFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/StateFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/CityFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/CurrencyFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/StatusFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/OrganizationFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/NamedQueries.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/PhotoGalleryFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/SubscribersFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/CommentsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryUserPwResetFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryRoleFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryUpgradePlanFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryRoleDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryUserProfileFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryAccountDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryCartDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryPromotionDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryCategoryInfoFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryCategoryReviewFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectorySendInfoFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryCategoryShortlistedFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryVendorProfileFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryVendorAccountDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryVendorRoleDetailsFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryVendorPwResetFormBean.hbm.xml" />
		<mapping resource="com/weddfix/web/hibernate/DirectoryCategoryInfoAccountDetailsFormBean.hbm.xml" />
	</session-factory>
</hibernate-configuration>
