<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Struts2 Application</display-name>
  <listener>
    <listener-class> org.apache.struts2.tiles.StrutsTilesListener </listener-class>
  </listener>
  <listener>
    <listener-class>com.weddfix.web.util.ServletListener</listener-class>
  </listener>
  <context-param>
    <param-name>tilesDefinitions</param-name>
    <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
            org.apache.struts2.dispatcher.FilterDispatcher
     </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/jsp-pages/common/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    	<session-timeout>30</session-timeout>
    </session-config>
  <error-page>
  	<error-code>404</error-code>
  	<location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <servlet>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorListServlet</display-name>
    <servlet-name>VendorListServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorListServlet</servlet-name>
    <url-pattern>/vendorlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorDetailsServlet</display-name>
    <servlet-name>VendorDetailsServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorDetailsServlet</servlet-name>
    <url-pattern>/vendordetails.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MyHomeServlet</display-name>
    <servlet-name>MyHomeServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MyHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHomeServlet</servlet-name>
    <url-pattern>/myhome.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MyWishListServlet</display-name>
    <servlet-name>MyWishListServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MyWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWishListServlet</servlet-name>
    <url-pattern>/mywishlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MyBookingsServlet</display-name>
    <servlet-name>MyBookingsServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MyBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBookingsServlet</servlet-name>
    <url-pattern>/mybookings.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MyProfileServlet</display-name>
    <servlet-name>MyProfileServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileServlet</servlet-name>
    <url-pattern>/myprofile.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SendInfoServlet</display-name>
    <servlet-name>SendInfoServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.SendInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendInfoServlet</servlet-name>
    <url-pattern>/sendinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorLoginServlet</display-name>
    <servlet-name>VendorLoginServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorLoginServlet</servlet-name>
    <url-pattern>/vendorlogin.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorRegisterServlet</display-name>
    <servlet-name>VendorRegisterServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorRegisterServlet</servlet-name>
    <url-pattern>/vendorregister.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorDashboardServlet</display-name>
    <servlet-name>VendorDashboardServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorDashboardServlet</servlet-name>
    <url-pattern>/vendordashboard.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorBookingsServlet</display-name>
    <servlet-name>VendorBookingsServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorBookingsServlet</servlet-name>
    <url-pattern>/vendorbookings.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorMyListingServlet</display-name>
    <servlet-name>VendorMyListingServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorMyListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorMyListingServlet</servlet-name>
    <url-pattern>/vendormylisting.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorListingServlet</display-name>
    <servlet-name>VendorListingServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorListingServlet</servlet-name>
    <url-pattern>/vendorlisting.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorProfileServlet</display-name>
    <servlet-name>VendorProfileServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorProfileServlet</servlet-name>
    <url-pattern>/vendorprofile.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpgradeServlet</display-name>
    <servlet-name>UpgradeServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.UpgradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpgradeServlet</servlet-name>
    <url-pattern>/upgrade.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorSendInfoServlet</display-name>
    <servlet-name>VendorSendInfoServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorSendInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorSendInfoServlet</servlet-name>
    <url-pattern>/vendorsendinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categorylist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VendorListByLocationServlet</display-name>
    <servlet-name>VendorListByLocationServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.VendorListByLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorListByLocationServlet</servlet-name>
    <url-pattern>/vendorlistbylocation.json</url-pattern>
  </servlet-mapping>
</web-app>